ion-badge {
  --background: rgb(166, 10, 10);
  --color: rgb(0, 0, 0);
  --padding-end: 20px;
  --padding-start: 20px;
}
ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #ffffff;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid  #ff0000;
}
